.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: -1rem;
}

.input {
  width: 100%;
  height: 100%;

  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);

  color: var(--gray-100);
  transition: all 0.2s ease-in-out;
  outline: none !important;
}

.input:focus,
.input:active {
  border: 1px solid var(--purple-dark);
  outline: none;
}

.input::placeholder {
  color: var(--gray-300);
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--blue-dark);

  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background: var(--blue);
}
